.disabled {
  text-decoration: line-through;
  color: darkgray;
}
.btn-space {
  padding-right: 35px;
  display: inline;
}
.w-sm {
  width: 120px;
}
.w-uuid {
  width: 350px;
}
.w-id {
  width: 100px;
}