.inner-fld {
  width: auto !important;
  display: inline;
  margin-right: 10px;
}
.icon-select {
  width: 75px;
  border: 0;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}