<div class="col-md-12  d-flex justify-content-center">
  <div class="jumbotron bg-light p-5 rounded card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />

    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="mb-2">
        <div class="alert alert-success" *ngIf="isSentSucessfully" role="alert">
          {{ 'account.reset.success' | translate  }}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="incorrectToken">
          {{ 'account.reset.incorrect-link' | translate  }}
        </div>

        <div
          class="invalid-feedback"
          *ngIf="isSentFailed"
        >
          {{ 'account.login.problem-try-later' | translate  }}
        </div>

      </div>
      <div class="mb-2" *ngIf="!incorrectToken && !isSentSucessfully">
        <label for="password">{{ 'account.reset.new-password' | translate  }}</label>
        <input
          type="password"
          class="form-control" [ngClass]="{ 'is-invalid': password.errors && f.submitted}"
          name="password"
          [(ngModel)]="form.password"
          required
          #password="ngModel"
        />
        <div
          class="invalid-feedback"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          {{ 'account.reset.invalid-password' | translate  }}
        </div>
      </div>
      <div class="mb-2" *ngIf="!incorrectToken && !isSentSucessfully">
        <button class="btn btn-primary btn-block">
          {{ 'account.reset.change-password' | translate  }}
        </button>
      </div>
      <a href="/login">{{ 'account.login.login' | translate  }}</a> / <a href="/register">{{ 'account.reset.register' | translate  }}</a>
    </form>
  </div>
</div>
