<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img src="/assets/images/logo.png" height="40" alt="Mem Master" class="d-inline-block align-top" alt="">
    </a> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto" routerLinkActive="active">
          <li class="nav-item" *ngIf="isLoggedIn">
            <a href="/cards" class="nav-link" *ngIf="isLoggedIn" routerLink="dictionary">{{ 'my-cards' | translate }}</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a href="/folders" class="nav-link" *ngIf="isLoggedIn" routerLink="folders">{{ 'my-folders' | translate }}</a>
          </li>

        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a href="/register" class="nav-link" routerLink="register">{{ 'sign-up' | translate }}</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a href="/login" class="nav-link" routerLink="login">{{ 'login' | translate }}</a>
          </li>
          <li class="nav-item dropdown" *ngIf="showAdminBoard">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" >{{ 'admin' | translate }} </a>
            <div  class="dropdown-menu">
              <ng-container>
                <a href="/admin/users" class="dropdown-item" >
                  {{ 'users-menu' | translate }}
                </a>
                <a href="/admin/metrics" class="dropdown-item" >
                  {{ 'metrics-menu' | translate }}
                </a>
                <a href="/admin/logs" class="dropdown-item" >
                  {{ 'logs-menu' | translate }}
                </a>
                <a href="/admin/configs" class="dropdown-item" >
                  {{ 'configs-menu' | translate }}
                </a>
              </ng-container>
            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="isLoggedIn">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              <img src="{{ avatar }}" alt="" width="30" height="24" class="d-inline-block align-text-top profile-avatar-img-card" *ngIf="avatar">
              <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="" width="30" height="24" class="d-inline-block align-text-top profile-avatar-img-card" *ngIf="!avatar">
              {{ username }}
            </a>
            <div  class="dropdown-menu">
              <ng-container>
                <a href="/profile" class="dropdown-item" >
                  {{ 'profile' | translate }}
                </a>
                <a href="/settings" class="dropdown-item" >
                  {{ 'settings' | translate }}
                </a>
                <a href class="nav-link" class="dropdown-item" (click)="logout()">
                  {{ 'logout' | translate }}
                </a>
              </ng-container>
            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="languageList.length > 1">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              {{ currentLanguage }}
            </a>
            <div  class="dropdown-menu dd-lang">
              <ng-container *ngFor="let language of languageList">
                <a
                        class="dropdown-item"
                        (click)="changeSiteLanguage(language.code)">
                  {{ language.label }}
                </a>
              </ng-container>
            </div>
          </li>
        </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
</div>

<footer class="footer bg-light text-center py-3 mt-5">
    <p>&copy; 2025 MemMaster. All rights reserved.</p>
</footer>


