<div class="col-md-12  d-flex justify-content-center">
  <div class="jumbotron bg-light p-5 rounded card-container-wide">

  <header class="jumbotron">
    <h3>
      {{ 'account.settings.edit' | translate  }}
    </h3>
  </header>
  <form
    name="form"
    (ngSubmit)="f.form.valid && onSubmit(f.form.valid)"
    #f="ngForm"
    novalidate
  >
    <div class="mb-3">
      <label for="mailserver">{{ 'account.settings.mailserver' | translate  }}</label>
      <input
        type="text"
        class="form-control" [ngClass]="{ 'is-invalid': mailserver.errors && f.submitted}"
        name="mail-server"
        [(ngModel)]="form.mailserver"
        required
        #mailserver="ngModel"
      />
      <div class="invalid-feedback" *ngIf="mailserver.errors && f.submitted">
        <div *ngIf="mailserver.errors['required']">{{ 'account.settings.mailserver-required' | translate  }}</div>
        <div *ngIf="mailserver.errors['mailserver']">
          {{ 'account.settings.mailserver-valid' | translate  }}
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="mailport">{{ 'account.settings.mailport' | translate  }}</label>
      <input
        type="text"
        class="form-control"
        name="mailport"
        [(ngModel)]="form.mailport"
        #mailport="ngModel"
      />
    </div>
    <div class="mb-3">
      <input
        type="checkbox"
        class="form-check-input me-1"
        name="mailssl"
        id="mailssl"
        [checked]="form.mailssl === 'true'"
        #mailssl
      />
      <label for="mailssl">{{ 'account.settings.mailssl' | translate  }}</label>
    </div>
    <div class="mb-3">
      <label for="username">{{ 'account.settings.username' | translate  }}</label>
      <input
        type="text"
        class="form-control"
        name="username"
        [(ngModel)]="form.username"
        #username="ngModel"
      />
    </div>
    <div class="mb-3">
      <label for="password">{{ 'account.settings.password' | translate  }}</label>
      <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              #password="ngModel"
      />
    </div>
    <div class="mb-3">
      <label for="period">{{ 'account.settings.period' | translate  }}</label>
      <select
              class="form-control"
              name="period"
              [(ngModel)]="form.period"
              #period="ngModel"
      >
      <option *ngFor="let c of periods" [ngValue]="c">{{c}}</option>
      </select>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary btn-block">{{ 'account.settings.save-data' | translate  }}</button>
    </div>
    <div class="alert alert-warning" *ngIf="f.submitted && isUpdatingFailed">
      {{ 'account.settings.update-failed' | translate  }}!<br />{{ errorMessage }}
    </div>
  </form>
  <div class="alert alert-success" *ngIf="isSuccessful">
    {{ 'account.settings.settings-saved' | translate  }}
  </div>

  </div>
</div>
