<div class="col-md-12  d-flex justify-content-center">
  <div class="jumbotron bg-light p-5 rounded card-container-wide">

  <header class="jumbotron">
    <h3>
      {{ 'account.settings.edit' | translate  }}
    </h3>
  </header>
  <form
    name="form"
    (ngSubmit)="f.form.valid && onSubmit(f.form.valid)"
    #f="ngForm"
    novalidate
  >
    <div class="mb-3">
      <label for="api_key">{{ 'account.settings.api_key' | translate  }}</label>
      <input
        type="text"
        class="form-control" [ngClass]="{ 'is-invalid': api_key.errors && f.submitted}"
        name="api_key"
        [(ngModel)]="form.api_key"
        required
        #api_key="ngModel"
      />
      <div class="invalid-feedback" *ngIf="api_key.errors && f.submitted">
        <div *ngIf="api_key.errors['required']">{{ 'account.settings.api_key-required' | translate  }}</div>
        <div *ngIf="api_key.errors['api_key']">
          {{ 'account.settings.api_key-valid' | translate  }}
        </div>
      </div>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary btn-block">{{ 'account.settings.save-data' | translate  }}</button>
    </div>
    <div class="alert alert-warning" *ngIf="f.submitted && isUpdatingFailed">
      {{ 'account.settings.update-failed' | translate  }}!<br />{{ errorMessage }}
    </div>
  </form>
  <div class="alert alert-success" *ngIf="isSuccessful">
    {{ 'account.settings.settings-saved' | translate  }}
  </div>

  </div>
</div>
