.card-wrapper { min-height: 320px; }
.flashcard { padding: 1.5rem; max-width: 720px; width: 100%; min-height: 320px; border-radius: 16px; }
.flashcard .d-grid .btn { text-align: left; }
.card-name-text { font-size: 1.25rem; font-weight: 700; }
.hint-box { padding: 1.5rem; }
.btn-w { min-width: 220px;}