<div class="container">
    <div class="row">
        <div class="col-sm mt-3 mb-3">
            <h4>{{ 'configs.header' | translate }}</h4>
        </div>
    </div>
    <div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" *ngIf="loadProgress">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
    </div>
    <div class="container" *ngIf="!loadProgress && env">

        {{ 'configs.active-profiles' | translate }}: <ng-container *ngFor="let ap of env.activeProfiles; last as isLast">{{ ap }}<ng-container *ngIf="!isLast">, </ng-container></ng-container>
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'configs.env-name' | translate }}</th>
                    <th>{{ 'configs.env-properties' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prop of env.propertySources">
                    <td>{{prop.name}}</td>
                    <td>
                        <div *ngFor="let item of prop.properties | keyvalue">
                            <b>{{ item.key }}:</b> {{ $any(item).value.value }}
                            <span class="orig-text" *ngIf="$any(item).value.origin">({{ $any(item).value.origin }})</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="container" *ngIf="!loadProgress && flyway">
        <h5>{{ 'configs.flyway' | translate }}</h5>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'configs.flyway-type' | translate }}</th>
                <th>{{ 'configs.flyway-checksum' | translate }}</th>
                <th>{{ 'configs.flyway-version' | translate }}</th>
                <th>{{ 'configs.flyway-description' | translate }}</th>
                <th>{{ 'configs.flyway-script' | translate }}</th>
                <th>{{ 'configs.flyway-state' | translate }}</th>
                <th>{{ 'configs.flyway-installedBy' | translate }}</th>
                <th>{{ 'configs.flyway-installedOn' | translate }}</th>
                <th>{{ 'configs.flyway-installedRank' | translate }}</th>
                <th>{{ 'configs.flyway-executionTime' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prop of getFlywayProps()">
                <td>{{prop.type}}</td>
                <td>{{prop.checksum}}</td>
                <td>{{prop.version}}</td>
                <td>{{prop.description}}</td>
                <td>{{prop.script}}</td>
                <td>{{prop.state}}</td>
                <td>{{prop.installedBy}}</td>
                <td>{{prop.installedOn}}</td>
                <td>{{prop.installedRank}}</td>
                <td>{{prop.executionTime}}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="row" *ngIf="!env && !loadProgress">
        <div class="col-sm">
            <p class="text-center" [innerHTML]=" 'logs.error_no_configs_found' | translate"></p>
        </div>
    </div>
</div>

<app-dialog #dialog></app-dialog>
