<div class="col-md-12 d-flex justify-content-center">
   <div class="jumbotron bg-light p-5 rounded card-container-wide">

      <header class="jumbotron">
         <h3 *ngIf="currentFolder?.id != undefined">
            {{ 'folders.edit.header' | translate  }}
         </h3>
         <h3 *ngIf="rootFolder != undefined">
            {{ 'folders.edit.header-new-subfolder' | translate  }}: <b>{{ rootFolder.name }}</b>
         </h3>
         <h3 *ngIf="!currentFolder && !rootFolder">
            {{ 'folders.edit.header-new' | translate  }}
         </h3>
      </header>
      <form
         name="form"
         (ngSubmit)="f.form.valid && onSubmit(f.form.valid)"
         #f="ngForm"
         novalidate
         class="row g-3 needs-validation"
      >
         <div class="mb-1" *ngIf="currentFolder?.id != undefined">
            <label for="id">{{ 'folders.edit.id' | translate  }}:</label>&nbsp;
            <b>{{ currentFolder?.id }}</b>
         </div>
         <div class="mb-1 form-check form-switch">
            <label for="is_public">{{ 'folders.edit.is_public' | translate  }}</label>
            <input
               type="checkbox"
               class="form-check-input"
               role="switch"
               name="is_public"
               id="is_public"
               [(ngModel)]="form.is_public"
               #name="ngModel"
            /> <a [routerLink]="['/shared', currentFolder?.uuid]" class="p-3" *ngIf="currentFolder?.uuid && currentFolder?.is_public">{{ 'folders.edit.link' | translate  }}</a>
         </div>
         <div class="mb-1 form-check form-switch" *ngIf="currentFolder?.id != undefined">
            <label for="active">{{ 'folders.edit.active' | translate  }}</label>
            <input
               type="checkbox"
               class="form-check-input"
               role="switch"
               name="active"
               id="active"
               [(ngModel)]="form.active"
               #name="ngModel"
            />
         </div>

         <div class="mb-2">
            <div class="mb-2" *ngIf="currentFolder?.id">
               <input type="text"
                      readonly
                      class="icon-select"
                      [iconPicker]="form.icon || 'empty'"
                      value="{{ 'folders.edit.icon' | translate  }}"
                      (iconPickerSelect)="onIconPickerSelect($event)"
               />
               <span class="ms-4 w20" *ngIf="form.icon"><i class="bi bi-{{form.icon}}"></i></span>
            </div>

            <label for="name">{{ 'folders.edit.name' | translate  }}</label>
            <input
               type="text"
               class="form-control" [ngClass]="{ 'is-invalid': name.errors && f.submitted}"
               name="name"
               id="name"
               [(ngModel)]="form.name"
               required
               #name="ngModel"
            />
            <div class="invalid-feedback" *ngIf="name.errors && f.submitted">
               <div *ngIf="name.errors['required']">{{ 'folders.edit.name-required' | translate  }}</div>
               <div *ngIf="name.errors['name']">
                  {{ 'folders.edit.name-valid' | translate  }}
               </div>
            </div>
         </div>
         <div class="mb-2">
            <label for="name">{{ 'folders.edit.translations' | translate  }}</label>
            <select name="lng_src" class="form-control d-inline-flex w-150 ms-3 me-3" [(ngModel)]="form.lng_src" id="lng_src">
               <option value="" [selected]="!form.lng_src">
                  {{ 'folders.edit.select-language' | translate  }}</option>
               <option *ngFor="let lng of languages" [value]="lng.key" [selected]="lng.key === form.lng_src">
                  {{ lng.value }}
               </option>
            </select>
            <select name="lng_dest" class="form-control d-inline-flex w-150" [(ngModel)]="form.lng_dest" id="lng_dest">
               <option value="" [selected]="!form.lng_dest">
                  {{ 'folders.edit.select-language' | translate  }}</option>
               <option *ngFor="let lng of languages" [value]="lng.key" [selected]="lng.key === form.lng_dest">
                  {{ lng.value }}
               </option>
            </select>
         </div>

         <div class="mb-1">
            <button class="btn btn-primary">{{ 'folders.edit.save-data' | translate  }}</button>&nbsp;
            <button class="btn btn-secondary"
                    [routerLink]="['/folders']">{{ 'folders.edit.cancel' | translate }}</button>
         </div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
         {{ 'folders.edit.folders-saved' | translate  }}
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage != ''">
         {{ errorMessage  }}
      </div>

   </div>
</div>
<app-toast #finalDialog></app-toast>
